body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body-color);

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Default light theme */
:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #797979;
  --body-color: #afafaf;
  --unselected-dot-color: #ffffff;
  --selected-dot-color: #000000;
}

/* Dark theme */
.dark-theme {
  --background-color: #000000;
  --text-color: #FAFAFA;
  --primary-color: #9b59b6;
  --body-color: #3b3b3b;
  --unselected-dot-color: #ffffff;
  --selected-dot-color: #000000;
}

/* Pink theme */
.pink-theme {
  --background-color: #e06c9f;
  --text-color: #2d2d2d;
  --primary-color: #ffaec9;
  --body-color: #ffaec9;
  --unselected-dot-color: #ffffff;
  --selected-dot-color: #e06c9f;
}

/* Blue theme */
.blue-theme {
  --background-color: #6c9fe0; 
  --text-color: #2d2d2d;
  --primary-color: #aec9ff; 
  --body-color: #aec9ff;
  --unselected-dot-color: #ffffff; 
  --selected-dot-color: #003399;
}

.green-theme {
  --background-color: #8fbc8f; /* A soft pastel green background */
  --text-color: #2d2d2d; /* A dark gray for text that ensures good contrast and readability */
  --primary-color: #b2d8b2; /* A lighter shade of pastel green for primary elements */
  --body-color: #b2d8b2; /* This can be used for the overall body background if desired */
  --unselected-dot-color: #ffffff; /* White for unselected dots */
  --selected-dot-color: #004d33; /* A darker green for selected dots or accents */
}
