/* About.css */
.about {
  padding: 4rem 0;
  background-color: var(--body-color);
  
}

.boxes {
  background-color: var(--background-color);
  padding: 2rem;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 20px;
  height: 85%;
  margin-bottom: 1rem;

}

.boxes1 {
  
  background-color: var(--background-color);
  padding: 2rem;
  margin: 5px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 20px;
  width: 90%;
  height: 70%; /* Add this line to make all containers the same height */
  box-sizing: border-box; /* Add this line to include padding in width calculation */
}
.boxes1:hover {
  transform: translateY(-10px);
}

.boxes:hover {
  transform: translateY(-10px);
}

.about h2 {
  margin-bottom: 1.5rem;
  font-size: 2.5rem;
  color: var(--text-color);
  text-align: center;
}

.column {
  width: 30%;
  margin-left: 3%;
}

.row {
  display: flex;
  flex-wrap: wrap;
}



.language-item {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 1rem;
  text-align: left;
  font-size: 1.5rem;
  height: 100%; /* Add this line to make all containers the same height */
}


.language-item div {
  display: flex;
  align-items: center;
  
  margin-bottom: 0.5rem;
}

.language-item img {
  width: 40px; /* Adjust the image width as desired */
  height: 40px; /* Adjust the image height as desired */
  margin-right: 0.5rem; /* Adjust the spacing between image and text */
}

.language-item p {
  margin: 0;
  color: var(--text-color)
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

.columnExp {
  width: 45%;
  margin: 0 2.5%;
}

.containerExp {
  display: flex;
  justify-content: center;
}

.rowExp {
  display: flex;
  flex-wrap: wrap;
}
.expDetails {
  margin-bottom: 1rem;
  color: var(--text-color)
}

.expDetails h3 {
  margin-bottom: 0.5rem;

}

.expDetails h4 {
  margin-bottom: 1rem;
}

.expInfo {
  list-style-type: disc;
  margin-left: 2rem;
}

.expInfo li {
  margin-bottom: 0.5rem;
}

.expInfo {
  text-align: left;
}
.expInfo li {
  margin-bottom: 1rem;
}

.boxes2 {
  background-color: var(--background-color);
  padding: 2rem;
  margin: 5px;
  text-align: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  border-radius: 20px;
  height: 85%;
  width: auto;
  margin-bottom: 1rem;
}

.boxes2:hover {
  transform: translateY(-10px);
}

.education-item {
  color: var(--text-color)
}


@media screen and (max-width: 600px) {
  .column {
    width: 100%;
  }
  .columnExp {
    width: 100%;
  }
}
